#-----
# PATH settings
#-----
out_dir			= /output/will/be/saved/here

#-----
# I/O related
#-----
iotype			= VR

#-----
# I/O) VELOCIraptor-STF output related (iotype = VR)
#-----
vr_dir_catalog 		= /where/is/your/directory/that/includes/
vr_dir_catalog_snapdigit 	= 4
vr_dir_catalog_prefix		= snap_
#vr_dir_catalog_suffix		= 


#-----
# I/O) VELUGA output related (iotype = VELUGA)
#-----
veluga_dir_catalog 		= /where/is/your/directory/that/includes/snap_


#-----
# I/O) HaloMaker output related (iotype = HM)
#-----
hm_dir_catalog		= /where/is/your/treebricks/located

#-----
# I/O) For general catalog type (iotype = Any)
#-----
any_dir_catalog		= /directoy/for/your/catalog
any_dir_catalog_snapdigit	= 4
any_dir_catalog_prefix = snap_
#any_dir_catalog_suffix = 

#-----
# Branch Maker related
#-----
branchmaker		= N
brtype			= TF
treedir			= des

tf_dir			= /where/is/your/directory/that/includes/*.tree

#-----
# Load the exisiting branch
#-----
loadtree		= N
loadtree_ftree		= /where/is/your/file/including/tree/info
loadtree_fkey		= /where/is/your/file/including/key/info

#-----
# General Parameters
#-----
horg 			= h
snapi			= 30
snapf			= 620
snaplist 		= /where/is/your/snaplistfile.txt
meritlimit		= 0.001
minbranchlength		= 5
makecheck		= 10
loadcheck		= -1


#-----
# Complete Tree Parameters
#-----

meritfrac			= 0.5
n_search			= 10
core_n 				= 10
core_dn	 			= 5
core_minfrac		= 0.25

